---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'normalize';
@import 'bootstrap.min';
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300,600);
@import 'owl.carousel';

//Colors
@import 'variables';
@import 'menu';




//Media Queries
@import 'xs_size';
@import 'small_size';
@import 'medium_size';
@import 'large_size';
@import 'about';

footer {
    margin-top:0;
}

.resources {
    display:none;
}

#post,#main {
    padding-bottom:6rem;
}