<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="contact-wrapper">
					<h3>Contact</h3>
					<div>
						<img src="images/icons/circle_kettlebell.svg">
						<p>Crossfit: (608) 282-5610</p>
					</div>
					<div>
						<img src="images/icons/circle_timer.svg">
						<p>Athletic Performance Training: (608) 282-5324</p>
					</div>
					<form method="POST">
						<input type="text" placeholder="Name">
						<input type="email" placeholder="Email Address">
						<textarea placeholder="Message"></textarea>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="map-wrapper">
					<h3>Location</h3>
					<p>CrossFit MadTown</p>
					<p>2500 Pleasant View Rd. #101</p>
					<p>Middleton, WI 53562 </p>
					<div id="map"></div>
				</div>
			</div>
		</div>
	</div>
</footer>
