---
sliderImg1: /images/header/carli_rings2.jpg
sliderImg2: /images/header/wod.jpg
sliderImg3: /images/header/slider1.jpg
sliderImg4: /images/header/slider2.jpg
sliderImg5: /images/header/slider4.jpg
---

<section id="header">
    <div class="owl-carousel">
		<div id="slider1" style="background: url('{{page.sliderImg1}}') 0 0 no-repeat; background-size: cover;"></div>
		<div id="slider2" style="background: url('{{page.sliderImg2}}') 0 0 no-repeat; background-size: cover;"></div>
		<div id="slider3" style="background: url('{{page.sliderImg3}}') 0 0 no-repeat; background-size: cover;"></div>
		<div id="slider4" style="background: url('{{page.sliderImg4}}') 0 0 no-repeat; background-size: cover;"></div>
		<div id="slider5" style="background: url('{{page.sliderImg5}}') 0 0 no-repeat; background-size: cover;"></div>
    </div>
    <div class="mask">
    	<div id="home-logo">
    		<img src="/images/logo-head.svg" alt="CrossFit Madtown Logo">
    	</div>
    	<h1 id="siteTitle" class="editable"><span>CROSSFIT</span><span class="yellow-font">MA<span>DTO</span>WN</span></h1>
    	<h2 class="editable">We're a <span>weightlifting</span> gym with a <span>CrossFit</span> problem.</h2>
    </div>
</section>