<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/fullcalendar.min.js"></script>

<!-- <script src="/js/modernizr.custom.js"></script>
<script src="/js/classie.js"></script>
-->
<script src="/js/owl.carousel.min.js"></script>
<script>
$(document).ready(function(){
$('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            responsive:{
            0:{
                items:1
            }
        },
        autoplay: true,
        animateOut: 'fadeOut',
    });
});
</script>
<script>
$('.thumbnail').click(function(){
$('.modal-body').empty();
var title = $(this).parent('a').attr("title");
$('.modal-title').html(title);
$($(this).parents('div').html()).appendTo('.modal-body');
$('#myModal').modal({show:true});
});
/* blur on modal open, unblur on close */
$('#myModal').on('show.bs.modal', function () {
$('.col-6,.row .thumbnail').addClass('blur');
})
$('#myModal').on('hide.bs.modal', function () {
$('.col-6,.row .thumbnail').removeClass('blur');
})</script>
<script src="/js/menu.js"></script>
<script src="/js/main.js"></script>
<script src="/js/schedule.js"></script>