<section id="site-menu">
	<a href="#" class="toggle-nav" id="menu-close"><span class="fa fa-times"></span></a>
	<div class="menu-links">
		

		{% for page in site.data %}
			{% capture number %}{{ forloop.length }}{% endcapture %}
			{% for navItem in page %}
				{{page.navItem}}
			{% endfor %}
		{% endfor %}
	</div>
</section>
<a href="#" class="toggle-nav btn" id="menu-btn"><span class="fa fa-bars"></span>
</a>

{% if page.layout == 'internal' or page.layout == 'post' %}
	<div class="internal-logo">
			<img src="/images/logo-head.svg" alt="CrossFit Madtown Logo"> 
			<p>Crossfit<span>Madtown</span></p>
	</div>
{% endif %}