@media screen and (min-width: 992px){
	.vegas-container {
		min-height: 40rem;
	}
	.mask {
		min-height: 40rem;
		#siteTitle {
			font-size: 7rem;
			padding-top: 14rem;
		}
		h2 {
			font-size: 2rem;
		}
	}
	.feature-content {
		p {
			min-height: 120px;
		}
	}
}