$white: #ffffff;
$neutral-light: #ddd;
$neutral-dark: #333;
$overlay-color: rgba(192, 54, 34, 0.75);
$overlay-color-secondary: rgba(53, 195, 72, 0.85);
$text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);

$red: rgb(192, 54, 34);
$green: rgb(53, 195, 72);
$yellow: rgb(255, 224, 0);