---
layout: default
title: Home
sliderImg1: /images/header/carli_rings2.jpg
sliderImg2: /images/header/wod.jpg
sliderImg3: /images/header/slider1.jpg
sliderImg4: /images/header/slider2.jpg
sliderImg5: /images/header/slider4.jpg
crossfitFront: /images/crossfit_front.jpg
weightliftingFront: /images/weightlifting_front.jpg
youthFront: /images/youth_front.jpg
backgroundImage: /images/header/slider4.jpg
---

<!DOCTYPE>
<html>
	{% include head.html %}
	<body>
		<div id="site-wrapper">
		    {% include header.html %}
			<div id="site-canvas">
				{{content}}
				
				{% include footer.html %}
			</div>
		</div>
		{% include js.html %}
	</body>
</html>