---
layout: default
sliderImg1: /images/header/carli_rings2.jpg
sliderImg2: /images/header/wod.jpg
sliderImg3: /images/header/slider1.jpg
sliderImg4: /images/header/slider2.jpg
sliderImg5: /images/header/slider4.jpg
---

<section id="main">
  <div class="container">
      <div class="col-md-8 col-md-offset-2">
            <h1>
        		{% if page.group %}
        			{{page.group}}
        		{% else %}
        			{{page.title}}
        		{% endif %}
	        </h1>
	    </div>
    <div class="col-md-8 col-md-offset-2">
      {{ content }}
    </div>
  </div>
</section>
