---
layout: default
---
<div class="internal-header" {% if page.headerImage %}style="background: url({{ page.headerImage }}) no-repeat; min-height: 15em; background-position: 0 0; background-size: cover;" {% else %}style="background: url(/images/default.svg) no-repeat; background-size: cover;"
{% endif %}>
</div>
<!--<section id="header">
	<div class="mask internal-mask">
		<h1>
		{% if page.group %}
			{{page.group}}
		{% else %}
			{{page.title}}
		{% endif %}
		</h1>
	</div>
</section>-->

<section id="header">
<div class="mask">
	<div id="home-logo">
		<img src="/images/logo-head.svg" alt="CrossFit Madtown Logo">
	</div>
	<h1 id="siteTitle" class="editable"><span>CROSSFIT</span><span>MA<span>DTO</span>WN</span></h1>
	<h2 class="editable">We're a <span>weightlifting</span> gym with a <span>CrossFit</span> problem.</h2>
</div>
</section>


<section id="post">
  <div class="container">
      <div class="row">
	        <h1>
		{% if page.group %}
			{{page.group}}
		{% else %}
			{{page.title}}
		{% endif %}
		</h1>
	    </div>
    <div class="col-md-8 col-md-offset-2">
      {{ content }}
    </div>
  </div>
</section>
