---
layout: default
sliderImg1: /images/header/carli_rings2.jpg
sliderImg2: /images/header/wod.jpg
sliderImg3: /images/header/slider1.jpg
sliderImg4: /images/header/slider2.jpg
sliderImg5: /images/header/slider4.jpg
---


<section id="post">
  <div class="">
      <div class="post-header">
            <h1>
        		{% if page.group %}
        			{{page.group}}
        		{% else %}
        			{{page.title}}
        		{% endif %}
	        </h1>
	    </div>
    <div class="post-content">
      {{ content }}
    </div>
  </div>
</section>
